/* You can add global styles to this file, and also import other style files */
body{
    background-image:  url(../src/assets/background.jpg);
    background-color: linear-gradient(to right, #69B62F, #DE3375);
    /* background-blend-mode: screen; */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
card{
    margin:10px;
}